@import "tailwindcss";

:root {
  --primary: #FF4772;
  --dark-primary: #e62b56;
  --secondary: #7768AE; 
  --dark-secondary: #5c4b9a; 
  --background: #FBFBFB;
  --text: #303028;
}
 
@theme inline {
  --color-primary: var(--primary);
  --color-dark-primary: var(--dark-primary);
  --color-secondary: var(--secondary);
  --color-dark-secondary: var(--dark-secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --font-dm-sans: var(--font-dm-sans);
  --font-aboreto: var(--font-aboreto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
