@import "tailwindcss";


/***********************
** Base variables
***********************/
:root {
  --primary: #FF4772;
  --dark-primary: #d1214a;
  --secondary: #7768AE; 
  --dark-secondary: #483883; 
  --background: #fafafa;
  --text: #303028;

  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(227deg) brightness(105%) contrast(100%);
  --filter-primary: brightness(0) saturate(100%) invert(39%) sepia(97%) saturate(1828%) hue-rotate(320deg) brightness(101%) contrast(102%);
  --filter-dark-primary: brightness(0) saturate(100%) invert(22%) sepia(61%) saturate(3316%) hue-rotate(329deg) brightness(88%) contrast(97%);
}
 
@theme inline {
  --color-primary: var(--primary);
  --color-dark-primary: var(--dark-primary);
  --color-secondary: var(--secondary);
  --color-dark-secondary: var(--dark-secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --font-dm-sans: var(--font-dm-sans);
  --font-aboreto: var(--font-aboreto);
}

/***********************
** Base components
***********************/
html {
  font-size: .625em;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  color: var(--text);
  background-color: var(--background);
}

.inner-wrap {
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/***********************
** Atoms links/buttons
***********************/
.as--underline-hover {
  display: inline;
  background-image: linear-gradient(to right, var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 .2rem;
  transition: background-size .2s ease-out;
}

.as--underline-hover.text-secondary {
  background-image: linear-gradient(to right, var(--secondary), var(--secondary));
}

.as--underline-hover:hover {
  background-size: 100% .2rem; 
}

button.as--icon,
a.as--icon,
span.as--icon {
  position: relative;
  transition: .3s ease;
}

button.as--icon:hover,
a.as--icon:hover,
span.as--icon:hover {
  padding-left: 1rem;
  padding-right: 4rem;
}

button.as--icon .a-icon,
a.as--icon .a-icon,
span.as--icon .a-icon {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  translate: 0 -50%;
  max-width: 2.2rem;
  height: auto;
  filter: var(--filter-white);
  opacity: 0;
  transition: opacity .2s ease-in;
}

button.as--icon:hover .a-icon,
a.as--icon:hover .a-icon,
span.as--icon:hover .a-icon {
  opacity: 1;
}

/***********************
** Colored filters
***********************/
.as--filter-dark-primary {
  filter: var(--filter-dark-primary);
}

.as--filter-text {
  filter: var(--filter-text);
}

.as--hover-filter-primary:hover img {
  filter: var(--filter-primary);
}

/***********************
** Single slider's component
***********************/
.single-slider .swiper-slide {
  display: flex;
}

.single-slider .single-slide-subtitle:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  width: 4rem;
  height: .2rem;
  background-color: var(--text);
}

.single-slider .single-slide-image::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(40deg, rgba(246, 185, 156, 0) 0%, rgba(246, 185, 156, 0.65) 0%, rgba(255, 97, 135, 0.58) 100%);
  opacity: .3;
}


/***********************
** Mobile's responsive
***********************/
@media (max-width: 1023px) {
  .max-h-mobile-menu {
    max-height: calc(100svh - 8rem);
    overflow-y: auto;
  }

  .single-slider .single-slide-image::after {
    opacity: 1;
  }
}
